html {
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

html,
body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

.container {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

h1 {
	font-family: "Open Sans", sans-serif;
	font-weight: 300;
}

/*
 * Styles for the deck of cards
 */

.deck {
	width: 560px;
	min-height: 580px;
	background: linear-gradient(
		160deg,
		rgba(78, 19, 199, 0.7483368347338936) 0%,
		rgba(249, 30, 90, 1) 100%
	);
	padding: 32px;
	border-radius: 10px;
	box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	margin: 0 0 3em;
}

.disable {
	pointer-events: none;
}

.deck .card {
	height: 105px;
	width: 105px;
	background: #2e3d49;
	font-size: 0;
	color: #ffffff;
	border-radius: 8px;
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
	box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
}

.deck .card.open {
	transform: rotateY(0);
	background: #18abc9;
	cursor: default;
}

.deck .card.show {
	font-size: 33px;
}

.deck .card.match {
	cursor: default;
	background: #5bd4ec;
	font-size: 33px;
}

.deck .card.disable {
	pointer-events: none;
}

/*
 * Styles for the Score Panel
 */

.score-panel {
	text-align: left;
	width: 345px;
	margin-bottom: 10px;
}

.score-panel .stars {
	margin: 0;
	padding: 0;
	display: inline-block;
	margin: 0 5px 0 0;
}

.score-panel .stars li {
	list-style: none;
	display: inline-block;
}

.score-panel .moves {
	display: inline-block;
	margin-left: 50px;
}

.score-panel .timer {
	display: inline-block;
	margin-left: 50px;
}

.score-panel .restart {
	float: right;
	cursor: pointer;
}

/*
* Small screen
*/

@media screen and (max-width: 350px) {
	.score-panel {
		display: flex;
		margin-left: auto;
		margin-right: auto;
	}
}

/*
* Medium screens
*/

@media screen and (max-width: 649px) {
	.score-panel {
		display: flex;
	}

	.score-panel .restart {
		display: inline-flex;
		margin-left: 50px;
		width: 40px;
	}

	.score-panel .stars {
		margin: 0;
		padding: 0;
		display: inline-block;
		margin: 0 5px 0 0;
	}

	.score-panel .stars li {
		list-style: none;
		display: inline-block;
	}

	.score-panel .moves {
		display: inline-block;
		margin-left: 50px;
	}

	.score-panel .timer {
		display: inline-block;
		margin-left: 50px;
	}

	.deck {
		width: 250px;
		min-height: 250px;
		padding: 10px;
	}

	.deck .card {
		width: 50px;
		height: 50px;
	}

	.deck .card.show {
		font-size: 1em;
	}

	.deck .card.match {
		font-size: 1em;
	}
}

/*
* Large screens
*/

@media screen and (min-width: 650px) and (max-width: 900px) {
	.score-panel {
		display: flex;
	}

	.score-panel .restart {
		display: inline-flex;
		margin-left: 50px;
	}

	.deck {
		width: 500px;
		min-height: 500px;
		padding: 20px;
	}

	.deck .card {
		width: 100px;
		height: 100px;
	}
}
